*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: orange;
    min-height: 100px;
}
.container{
    max-width: 900px;
    min-height: 1000px;
    background-color: red;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.card{
    max-width: 290px;
    min-height: 490px;
    margin-right: 14px;
}
.card:nth-child(3n + 0){
    margin-right: 0;
}
.card__image{
    width: 290px;
    height:430px;
    background-color: yellow;
}
.card__price{
    width: 290px;
    height: 60px;
    background-color: green;
}