*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: orange;
    min-height: 100px;
}
.card{
    width: ;

}
.container{
    max-width: 900px;
    min-height: 1000px;
    background-color: red;
    margin: 0 auto;
}
.card{
    min-height: 490px;
    border: 2px dotted black;
}
.card__image{
    width: 290px;
    height:430px;
    background-color: yellow;
}
.card__price{
    width: 290px;
    height: 60px;
    background-color: green;
}