*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: orange;
    min-height: 100px;
}
.container{
    max-width: 900px;
    min-height: 1000px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}
.card{
    max-width: 290px;
    min-height: 490px;
}
.card__image{
    width: 290px;
    height:430px;
    position: relative;
}
.card__price{
    width: 290px;
    height: 60px;
}
footer{
    background-color: black;
    color: white;
    min-height: 100px;
}
.heart{
    width: 35px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 7px;
}
.discount{
    color: white;
    width: fit-content;
    background-color: salmon;
    position: absolute;
    bottom: 25px;
}
ul{
list-style-type: none;
}
#men__one{
    background-image: url(./../img/1.webp);
    background-size: cover;

}

                    
                   